<p-fluid>
  <form [formGroup]="formGroup" class="grid mt-0">
    <div [class]="'col-12 ' + (viewMode === 'basic' ? 'md:col-4' : 'md:col-3')">
      <p-float-label variant="on">
        <input
          pInputText
          id="dm_document_search_criteria_name"
          type="text"
          formControlName="name"
          [pTooltip]="'DOCUMENT_SEARCH.CRITERIA.NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          [ariaLabel]="'DOCUMENT_SEARCH.CRITERIA.NAME.ARIA-LABEL' | translate"
        />
        <label for="dm_document_search_criteria_name" style="white-space: nowrap">
          {{ 'DOCUMENT_SEARCH.CRITERIA.NAME.LABEL' | translate }}
        </label>
      </p-float-label>
    </div>
    <div [class]="'col-12 ' + (viewMode === 'basic' ? 'md:col-4' : 'md:col-3')">
      <p-float-label variant="on">
        <p-multiSelect
          id="dm_document_search_criteria_documentTypeId"
          formControlName="documentTypeId"
          [options]="availableDocumentTypes"
          [filter]="true"
          [pTooltip]="'DOCUMENT_SEARCH.CRITERIA.DOCUMENT_TYPE_ID.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          appendTo="body"
          [ariaLabel]="'DOCUMENT_SEARCH.CRITERIA.DOCUMENT_TYPE_ID.ARIA-LABEL' | translate"
        ></p-multiSelect>
        <label for="dm_document_search_criteria_documentTypeId" style="white-space: nowrap">
          {{ 'DOCUMENT_SEARCH.CRITERIA.DOCUMENT_TYPE_ID.LABEL' | translate }}
        </label>
      </p-float-label>
    </div>
    <div [class]="'col-12 ' + (viewMode === 'basic' ? 'md:col-4' : 'md:col-3')">
      <p-float-label variant="on">
        <p-select
          id="dm_document_search_criteria_channelName"
          formControlName="channelName"
          [options]="availableChannels"
          data
          [showClear]="true"
          [pTooltip]="'DOCUMENT_SEARCH.CRITERIA.CHANNEL_NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          appendTo="body"
          [ariaLabel]="'DOCUMENT_SEARCH.CRITERIA.CHANNEL_NAME.ARIA-LABEL' | translate"
        ></p-select>
        <label for="dm_document_search_criteria_channelName" style="white-space: nowrap">
          {{ 'DOCUMENT_SEARCH.CRITERIA.CHANNEL_NAME.LABEL' | translate }}
        </label>
      </p-float-label>
    </div>

    @if (viewMode === 'advanced') {
      <div class="col-12 md:col-3">
        <p-float-label variant="on">
          <input
            pInputText
            id="dm_document_search_criteria_id"
            type="text"
            formControlName="id"
            [pTooltip]="'DOCUMENT_SEARCH.CRITERIA.ID.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            [ariaLabel]="'DOCUMENT_SEARCH.CRITERIA.ID.ARIA-LABEL' | translate"
          />
          <label for="dm_document_search_criteria_id" style="white-space: nowrap">
            {{ 'DOCUMENT_SEARCH.CRITERIA.ID.LABEL' | translate }}
          </label>
        </p-float-label>
      </div>
      <div class="col-12 md:col-3">
        <p-float-label variant="on">
          <p-multiSelect
            id="dm_document_search_criteria_lifeCycleState"
            formControlName="lifeCycleState"
            [options]="lifeCycleStates"
            [filter]="true"
            [pTooltip]="'DOCUMENT_SEARCH.CRITERIA.LIFE_CYCLE_STATE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            appendTo="body"
            [ariaLabel]="'DOCUMENT_SEARCH.CRITERIA.LIFE_CYCLE_STATE.ARIA-LABEL' | translate"
          ></p-multiSelect>
          <label for="dm_document_search_criteria_lifeCycleState" style="white-space: nowrap">
            {{ 'DOCUMENT_SEARCH.CRITERIA.LIFE_CYCLE_STATE.LABEL' | translate }}
          </label>
        </p-float-label>
      </div>
      <div class="col-12 md:col-3">
        <p-float-label variant="on">
          <input
            pInputText
            id="dm_document_search_criteria_objectReferenceId"
            type="text"
            formControlName="objectReferenceId"
            [pTooltip]="'DOCUMENT_SEARCH.CRITERIA.OBJECT_REFERENCE_ID.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            [ariaLabel]="'DOCUMENT_SEARCH.CRITERIA.OBJECT_REFERENCE_ID.ARIA-LABEL' | translate"
          />
          <label for="dm_document_search_criteria_objectReferenceId" style="white-space: nowrap">
            {{ 'DOCUMENT_SEARCH.CRITERIA.OBJECT_REFERENCE_ID.LABEL' | translate }}
          </label>
        </p-float-label>
      </div>
      <div class="col-12 md:col-3">
        <p-float-label variant="on">
          <input
            pInputText
            id="dm_document_search_criteria_objectReferenceType"
            type="text"
            formControlName="objectReferenceType"
            [pTooltip]="'DOCUMENT_SEARCH.CRITERIA.OBJECT_REFERENCE_TYPE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            [ariaLabel]="'DOCUMENT_SEARCH.CRITERIA.OBJECT_REFERENCE_TYPE.ARIA-LABEL' | translate"
          />
          <label for="dm_document_search_criteria_objectReferenceType" style="white-space: nowrap">
            {{ 'DOCUMENT_SEARCH.CRITERIA.OBJECT_REFERENCE_TYPE.LABEL' | translate }}
          </label>
        </p-float-label>
      </div>
    }
  </form>
</p-fluid>
