<ocx-portal-page *ngrxLet="viewModel$; let vm">
  <ocx-page-header
    header="{{ 'DOCUMENT_CREATE.HEADER' | translate }}"
    [disableDefaultActions]="true"
    [manualBreadcrumbs]="true"
  ></ocx-page-header>

  <div class="document-create-shell card p-3 mt-2">
    <p-steps [model]="stepsModel" [activeIndex]="vm.activeStep"> </p-steps>

    <ng-container *ngIf="!vm.referenceDataLoading" [ngSwitch]="vm.activeStep">
      <app-document-create-details-form
        *ngSwitchCase="steps.Details"
        [details]="vm.details"
        [availableTypes]="(documentTypes$ | async) || []"
        (next)="onDetailsNext(vm, $event)"
      ></app-document-create-details-form>

      <app-document-create-attachments
        *ngSwitchCase="steps.Attachments"
        [attachments]="vm.attachments"
        (back)="onAttachmentsBack(vm)"
        (next)="onAttachmentsNext(vm, $event)"
      ></app-document-create-attachments>

      <app-document-create-characteristics
        *ngSwitchCase="steps.Characteristics"
        [characteristics]="vm.characteristics"
        (back)="onCharacteristicsBack(vm)"
        (save)="onCharacteristicsSave($event)"
      ></app-document-create-characteristics>
    </ng-container>
  </div>
</ocx-portal-page>
